# HR Data From Kaggle



>**Note:** Code and Markdown cells can be executed using the **Shift + Enter** keyboard shortcut. In addition, Markdown cells can be edited by typically double-clicking the cell to enter edit mode.

In [1]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from IPython.display import display # Allows the use of display() for DataFrames

# Import supplementary visualizations code visuals.py
import visuals as vs

# Pretty display for notebooks
%matplotlib inline

# Load the wholesale customers dataset
try:
    data = pd.read_csv("HR_comma_sep.csv")
    #data.drop(['Region', 'Channel'], axis = 1, inplace = True)
    print "HR dataset has {} samples with {} features each.".format(*data.shape)
except:
    print "Dataset could not be loaded. Is the dataset missing?"

HR dataset has 14999 samples with 10 features each.

In [7]:
display(data.describe())
data.columns = ['satisfaction_level','last_evaluation','num_projects','avg_monthly_hours','years_at_company','had_work_accident','left','promotion_last_5years','department','salary']
data.head()

,satisfaction_level,last_evaluation,num_projects,avg_monthly_hours,years_at_company,had_work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

,satisfaction_level,last_evaluation,num_projects,avg_monthly_hours,years_at_company,had_work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

### Simple decision tree classifier
Train on numeric columns to predict whether someone left or not

In [13]:
# Make a copy of the DataFrame, using the 'drop' function to drop the given feature
new_data = data.drop(['left','department','salary'], axis=1)

# Split the data into training and testing sets using the given feature as the target
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(new_data, data['left'], test_size=0.25, random_state=0)

# Create a decision tree classifier and fit it to the training set
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

# Report the score of the prediction using the testing set
score = clf.score(X_test, y_test)
print score

0.980533333333

Encode non-numeric columns and try decision tree classifier again

In [ ]:
new_data =